# Variáveis, Operadores, Entrada e Saídas

In [23]:
minha_primeira_variavel = 'nasser'

In [24]:
minha_segunda_variavel = 10

In [25]:
minha_terceira_variavel = 1.2

In [26]:
minha_tupla = (1,2,3,45,15,'nasser')

In [27]:
type(minha_tupla)

tuple

In [29]:
type(minha_terceira_variavel)

float

In [37]:
meu_tipo_maluco_de_dado = True
meu_tipo_maluco_de_dado_outro = False

In [33]:
type(meu_tipo_maluco_de_dado)

bool

In [40]:
False + False

0

In [49]:
altura = 1.71

In [53]:
peso = 70

In [54]:
peso

70

In [55]:
imc = peso / (altura*altura)

In [56]:
imc

23.938989774631512

In [58]:
type(imc)

float

In [59]:
a = 10
b = 20

In [66]:
a ** 2

100

In [70]:
5 ** (1/5)

1.379729661461215

In [71]:
import numpy as np

In [72]:
1 / (1 - np.exp(-10))

1.0000454019910097

In [74]:
3 * (3 + 2)

15

In [75]:
 85/1.68*2

0.03952941176470588

In [77]:
a = 2
b = 15.2

In [78]:
a + b

17.2

In [79]:
a - b

-13.2

In [86]:
7 % 3.5

0.0

In [105]:
a = 0
b = 1

In [106]:
# a = a+1

In [107]:
# a = 1

In [111]:
a += 15

In [112]:
a

30

In [113]:
a -= 8

In [114]:
a

22

In [115]:
a /= 11

In [116]:
a

2.0

In [117]:
a *= 8

In [118]:
a

16.0

In [133]:
x = 50
nome = 'nasser '

In [134]:
x * nome

'nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser nasser '

In [153]:
altura = input('Qual é o sua altura:')

Qual é o sua altura: 9

In [154]:
type(altura)

str

In [155]:
altura

'9'

In [156]:
int(altura)

9

In [157]:
str(10)

'10'

In [158]:
nome = 'nasser '
sobrenome = 'boan'

In [159]:
nome + sobrenome

'nasser boan'

In [160]:
f'O meu nome é {nome} e meu sobrenome é {sobrenome}'

'O meu nome é nasser  e meu sobrenome é boan'

In [161]:
altura = 1.71
peso = 100

In [164]:
f'Minha altura é {altura} e meu peso é {peso}'

'Minha altura é 1.71 e meu peso é 100'

In [179]:
altura_quadrado = altura**2

In [180]:
type(altura_quadrado)

float

In [178]:
print(altura_quadrado)

None

In [181]:
altura = 1.71
peso = 100

IMC = peso / (altura * altura)

In [182]:
print(IMC)

34.19855682090216

In [183]:
x = 4

In [184]:
y = 2*(x**2) - 3*(x**(x+1))/2 + ((x+1)**0.5)/x

In [185]:
print(y)

-1503.440983005625

In [186]:
print(f'Seu peso é: {peso} kilos.')

print(f'Sua altura é: {altura} metros.')

print(f'O IMC é: {IMC}.')

print(f'P: {peso}, A: {altura}, IMC: {IMC}.')

Seu peso é: 100 kilos.
Sua altura é: 1.71 metros.
O IMC é: 34.19855682090216.
P: 100, A: 1.71, IMC: 34.19855682090216.

In [187]:
input('Qual o seu nome? ')

Qual o seu nome?  Nasser

'Nasser'

In [188]:
idade = input('Qual é sua idade? ')
idade_em_float = float(idade)
print(f"Sua idade em meses é {idade_em_float*12} meses; E em dias é {idade_em_float*365} dias.")

Qual é sua idade?  30

Sua idade em meses é 360.0 meses; E em dias é 10950.0 dias.

# Tipos de dados

In [189]:
x = 'Nasser'

type(x)

str

In [190]:
x = 10

type(x)

int

In [191]:
x = 3.3

type(x)

float

In [192]:
x = True

type(x)

bool

# Métodos de String

In [195]:
meu_nome = 'nasser'

In [196]:
meu_nome.upper()

'NASSER'

![tweet.png]()

In [208]:
tweet = 'Bom dia, ótima semana a todos ...'

In [199]:
tweet.upper()

'BOM DIA, ÓTIMA SEMANA A TODOS ...'

In [200]:
tweet.lower()

'bom dia, ótima semana a todos ...'

In [203]:
tweet.capitalize()

'Bom dia, ótima semana a todos ...'

In [210]:
print(tweet.startswith('B'))
print(tweet.startswith('Bom'))
print(tweet.startswith('Bom dia'))
print(tweet.startswith('Bom dia!!'))

True
True
True
False

In [211]:
print(tweet.endswith('.'))
print(tweet.endswith('..'))
print(tweet.endswith('todos ...'))
print(tweet.endswith('... '))

True
True
True
False

In [212]:
tweet.strip()

'Bom dia, ótima semana a todos ...'

In [213]:
tweet.strip('...')

'Bom dia, ótima semana a todos '

In [214]:
tweet.strip(',')

'Bom dia, ótima semana a todos ...'

In [215]:
tweet.strip('ótima')

'Bom dia, ótima semana a todos ...'

In [217]:
tweet.rstrip('Bom')

'Bom dia, ótima semana a todos ...'

In [218]:
tweet.rstrip('...')

'Bom dia, ótima semana a todos '

In [219]:
tweet.lstrip('Bom')

' dia, ótima semana a todos ...'

In [ ]:
tweet.lstrip('...')

'Bom dia, ótima semana a todos ...'

In [221]:
print(tweet)

Bom dia, ótima semana a todos ...

In [220]:
tweet.split()

['Bom', 'dia,', 'ótima', 'semana', 'a', 'todos', '...']

In [222]:
tweet.split('dia')

['Bom ', ', ótima semana a todos ...']

In [223]:
tweet.split('a')

['Bom di', ', ótim', ' sem', 'n', ' ', ' todos ...']

In [224]:
tweet.split('a',maxsplit=1)

['Bom di', ', ótima semana a todos ...']

In [225]:
tweet.split('a',maxsplit=2)

['Bom di', ', ótim', ' semana a todos ...']

In [226]:
tweet.rsplit('a',maxsplit=1)

['Bom dia, ótima semana ', ' todos ...']

In [227]:
## concatenção de string

tweet + ' bora tomar café da manhã!'

'Bom dia, ótima semana a todos ... bora tomar café da manhã!'

# Estrutura de Dados

In [ ]:
lista = [1,2,3,4,5]

In [ ]:
tupla = (1,2,3,4,5)

In [ ]:
dicionario = {'a':1,'b':2,'c':3,'d':4,'e':5}

## listas

In [ ]:
cidades_que_visitei = []

In [ ]:
cidades_que_visitei

[]

In [ ]:
cidades_que_visitei = ['Brasília','Cairo','Tel-Aviv','Paris','Jerusalem','Eilat']
cidades_que_visitei

['Brasília', 'Cairo', 'Tel-Aviv', 'Paris', 'Jerusalem', 'Eilat']

In [ ]:
cidades_que_visitei[0]

'Brasília'

In [ ]:
cidades_que_visitei[1]

'Cairo'

In [ ]:
cidades_que_visitei[3]

'Paris'

In [ ]:
cidades_que_visitei[0:2]

['Brasília', 'Cairo']

In [ ]:
cidades_que_visitei[:]

['Brasília', 'Cairo', 'Tel-Aviv', 'Paris', 'Jerusalem', 'Eilat']

In [ ]:
cidades_que_visitei[2:]

['Tel-Aviv', 'Paris', 'Jerusalem', 'Eilat']

In [ ]:
cidades_que_visitei[3:5]

['Paris', 'Jerusalem']

In [ ]:
cidades_que_visitei[-3]

'Paris'

In [ ]:
cidades_que_visitei[1::2]

['Cairo', 'Paris', 'Eilat']

In [ ]:
cidades_que_visitei[::-1]

['Eilat', 'Jerusalem', 'Paris', 'Tel-Aviv', 'Cairo', 'Brasília']

In [ ]:
len(cidades_que_visitei)

6

In [ ]:
len(tweet)

33

In [ ]:
tweet

'Bom dia, ótima semana a todos ...'

In [ ]:
tweet[::-1]

'... sodot a anames amitó ,aid moB'

In [ ]:
nome = 'natan'

In [ ]:
nome == nome[::-1]

True

In [ ]:
tweet.split()[2].upper()[1]

'T'

In [ ]:
paises_que_visite = ['Brasil',{'Jerusalem':5,'Tel-Aviv':2,'Eilat':1},('França','Paris')]
len(paises_que_visite)

3

In [ ]:
cidades_que_visitei

['Brasília', 'Cairo', 'Tel-Aviv', 'Paris', 'Jerusalem', 'Eilat']

In [ ]:
cidades_que_visitei.append('Araxá')

In [ ]:
cidades_que_visitei

['Brasília', 'Cairo', 'Tel-Aviv', 'Paris', 'Jerusalem', 'Eilat', 'Araxá']

In [ ]:
cidades_que_visitei.count('Eilat')

1

In [ ]:
cidades_que_visitei.index('Paris')

3

In [ ]:
cidades_que_visitei.reverse()

In [ ]:
cidades_que_visitei

['Araxá', 'Eilat', 'Jerusalem', 'Paris', 'Tel-Aviv', 'Cairo', 'Brasília']

In [ ]:
cidades_que_visitei.sort()

In [ ]:
cidades_que_visitei

['Araxá', 'Brasília', 'Cairo', 'Eilat', 'Jerusalem', 'Paris', 'Tel-Aviv']

In [ ]:
cidades_que_visitei.pop(2)

'Cairo'

In [ ]:
cidades_que_visitei

['Araxá', 'Brasília', 'Eilat', 'Jerusalem', 'Paris', 'Tel-Aviv']

In [ ]:
cidades_que_visitei.remove('Brasília')
cidades_que_visitei

['Araxá', 'Eilat', 'Jerusalem', 'Paris', 'Tel-Aviv']

## tuplas

In [ ]:
fundo_imob = ('ALZR11','BBF011','BLMG11','BLCP11','BRCO11')
fundo_imob

('ALZR11', 'BBF011', 'BLMG11', 'BLCP11', 'BRCO11')

In [ ]:
print(fundo_imob[0])
print(fundo_imob[1])
print(fundo_imob[2])

ALZR11
BBF011
BLMG11

In [ ]:
fundo_imob[0] = 'BACON11'

TypeError: ignored

In [ ]:
fundo_imob = tuple(['ALZR11',11,{'BLMG11':97.30},15.2,['BRCO11',16]])
fundo_imob

('ALZR11', 11, {'BLMG11': 97.3}, 15.2, ['BRCO11', 16])

In [ ]:
fundo_imob[4][1] = 15

In [ ]:
fundo_imob

('ALZR11', 11, {'BLMG11': 97.3}, 15.2, ['BRCO11', 15])

In [ ]:
fundo_imob.count(['BRCO11',15])

1

In [ ]:
fundo_imob.index(15.2)

3

In [ ]:
import sys
a_list = list()
a_tuple = tuple()
a_list = [1,2,3,4,5]
a_tuple = (1,2,3,4,5)
print(f'TAMANHO DE UMA LISTA {sys.getsizeof(a_list)} BYTES')
print(f'TAMANHO DE UMA LISTA {sys.getsizeof(a_tuple)} BYTES')

TAMANHO DE UMA LISTA 112 BYTES
TAMANHO DE UMA LISTA 96 BYTES

In [ ]:
import sys, platform
import time

start_time = time.time()
b_list = list(range(10000000))
end_time = time.time()
print("Instantiation time for LIST:", end_time - start_time)

start_time = time.time()
b_tuple = tuple(range(10000000))
end_time = time.time()
print("Instantiation time for TUPLE:", end_time - start_time)

start_time = time.time()
for item in b_list:
  aa = b_list[20000]
end_time = time.time()
print("Lookup time for LIST: ", end_time - start_time)

start_time = time.time()
for item in b_tuple:
  aa = b_tuple[20000]
end_time = time.time()
print("Lookup time for TUPLE: ", end_time - start_time)

Instantiation time for LIST: 0.37953782081604004
Instantiation time for TUPLE: 0.39007043838500977
Lookup time for LIST:  1.0335209369659424
Lookup time for TUPLE:  0.9247586727142334

## dicionários

In [ ]:
meu_dict = {}
type(meu_dict)

dict

In [ ]:
meu_dict['clientes'] = ['Maria','João','Gilberto','Gabriela','Marcelo']
meu_dict

{'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo']}

In [ ]:
meu_dict['endereços'] = {
    'maria':'águas claras',
    'joão':'asa norte',
    'gilberto':'asa sul',
    'gabriela':'samambaia',
    'marcelo':'planaltina'
}

meu_dict

{'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo'],
 'endereços': {'gabriela': 'samambaia',
  'gilberto': 'asa sul',
  'joão': 'asa norte',
  'marcelo': 'planaltina',
  'maria': 'águas claras'}}

In [ ]:
meu_dict = {
    'clientes':['Maria','João','Gilberto','Gabriela','Marcelo'],
    'endereços':{
        'maria':'águas claras',
        'joão':'asa norte',
        'gilberto':'asa sul',
        'gabriela':'samambaia',
        'marcelo':'planaltina'
    }
}

In [ ]:
meu_dict['valor_total_faturado'] = 50000
meu_dict

{'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo'],
 'endereços': {'gabriela': 'samambaia',
  'gilberto': 'asa sul',
  'joão': 'asa norte',
  'marcelo': 'planaltina',
  'maria': 'águas claras'},
 'valor_total_faturado': 50000}

In [ ]:
meu_dict['valor_total_faturado'] = 122658
meu_dict

{'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo'],
 'endereços': {'gabriela': 'samambaia',
  'gilberto': 'asa sul',
  'joão': 'asa norte',
  'marcelo': 'planaltina',
  'maria': 'águas claras'},
 'valor_total_faturado': 122658}

In [ ]:
meu_dict['clientes']

['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo']

In [ ]:
meu_dict['clientes'][0]

'Maria'

In [ ]:
meu_dict['clientes'].append('Nasser')
meu_dict

{'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo', 'Nasser'],
 'endereços': {'gabriela': 'samambaia',
  'gilberto': 'asa sul',
  'joão': 'asa norte',
  'marcelo': 'planaltina',
  'maria': 'águas claras'},
 'valor_total_faturado': 122658}

In [ ]:
meu_dict['endereços']['nassser'] = 0

In [ ]:
del meu_dict['endereços']['nassser']

In [ ]:
meu_dict

{'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo', 'Nasser'],
 'endereços': {'gabriela': 'samambaia',
  'gilberto': 'asa sul',
  'joão': 'asa norte',
  'marcelo': 'planaltina',
  'maria': 'águas claras',
  'nasser': 0},
 'valor_total_faturado': 122658}

In [ ]:
meu_dict['endereços']['nasser'] = 'águas claras'
meu_dict

{'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo', 'Nasser'],
 'endereços': {'gabriela': 'samambaia',
  'gilberto': 'asa sul',
  'joão': 'asa norte',
  'marcelo': 'planaltina',
  'maria': 'águas claras',
  'nasser': 'águas claras'},
 'valor_total_faturado': 122658}

In [ ]:
meu_dict.keys()

dict_keys(['clientes', 'endereços', 'valor_total_faturado'])

In [ ]:
meu_dict.values()

dict_values([['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo', 'Nasser'], {'maria': 'águas claras', 'joão': 'asa norte', 'gilberto': 'asa sul', 'gabriela': 'samambaia', 'marcelo': 'planaltina', 'nasser': 'águas claras'}, 122658])

In [ ]:
valor_total_faturado = meu_dict.pop('valor_total_faturado')

In [ ]:
meu_dict

{'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo', 'Nasser'],
 'endereços': {'gabriela': 'samambaia',
  'gilberto': 'asa sul',
  'joão': 'asa norte',
  'marcelo': 'planaltina',
  'maria': 'águas claras',
  'nasser': 'águas claras'}}

In [ ]:
valor_total_faturado

122658

In [ ]:
meu_dict.items()

dict_items([('clientes', ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo', 'Nasser']), ('endereços', {'maria': 'águas claras', 'joão': 'asa norte', 'gilberto': 'asa sul', 'gabriela': 'samambaia', 'marcelo': 'planaltina', 'nasser': 'águas claras'})])

In [ ]:
meu_dict

{'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo', 'Nasser'],
 'endereços': {'gabriela': 'samambaia',
  'gilberto': 'asa sul',
  'joão': 'asa norte',
  'marcelo': 'planaltina',
  'maria': 'águas claras',
  'nasser': 'águas claras'}}

In [ ]:
meu_dict.get('valor_total_de_venda')

In [ ]:
meu_dict['valor_total_de_venda']

KeyError: ignored

In [ ]:
meu_dict.clear()
meu_dict

{}

# Operadores Lógicos e Estruturas Condicionais

In [ ]:
a = 10
b = 20

In [ ]:
a > 10

False

In [ ]:
a == 10

True

In [ ]:
a > b

False

In [ ]:
a == b

False

In [ ]:
x = 6
b = 'nasser'

In [ ]:
x < b

TypeError: ignored

In [ ]:
a + 10 == b

False

In [ ]:
(10 + x > 15) or (x > 10)

True

In [ ]:
(10 + x > 15) and not(x > 10)

True

In [ ]:
pagamento = 1001

if pagamento > 1000 : 
  print('Comprar relógio')

Comprar relógio

In [ ]:
if pagamento < 1000:
  print('N comprar o relogio')

In [ ]:
pagamento = 800

if pagamento > 1000 : 
  print('Comprar relógio')
else:
  print('compre mês que vem.')

compre mês que vem.

In [ ]:
clima = 'chuvoso'
vento = 1.99
chance_de_chuva = 50

if clima == 'ensolarado':
  if vento >= 2.0:
    print('Nao jogar, muito vento!')
  else:
    print('Ótimo dia para um jogo!')
else:
  if chance_de_chuva >= 80:
    print('Não jogar, pode chover!')
  else:
    print('Vamos jogar e aquecer o dia!')

Vamos jogar e aquecer o dia!

In [ ]:
bpm = 60

if bpm >= 40 and bpm <= 60:
  print('Largo')
elif bpm > 60 and bpm <= 80:
  print('Adagio')
elif bpm >= 140 and bpm <= 200:
  print('Presto')
else:
  print('Troppo Lento')

Largo
600

# Estrutura de repetição

### for

In [ ]:
ls = [1,2,3,4,5,6,7,8,9,10]

for valor in ls:
  print(valor)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for valor in ls:
  print(valor**3)

1
8
27
64
125
216
343
512
729
1000

In [ ]:
## for com if

for valor in ls:
  if valor % 2 == 0:
    print('Valor Múltiplo de 2')
  else:
    print(valor)

1
Valor Múltiplo de 2
3
Valor Múltiplo de 2
5
Valor Múltiplo de 2
7
Valor Múltiplo de 2
9
Valor Múltiplo de 2

In [ ]:
## for com break

new_ls = list(range(1,500))

soma = 0

for valor in new_ls:
  
  if soma > 300:
    break

  if valor % 2 == 0:
    print(f"O valor {valor} é válido!")
    print(f"SOMA antes", soma)
    soma += valor
    print(f"SOMA depois {soma}\n----------")

O valor 2 é válido!
SOMA antes 0
SOMA depois 2
----------
O valor 4 é válido!
SOMA antes 2
SOMA depois 6
----------
O valor 6 é válido!
SOMA antes 6
SOMA depois 12
----------
O valor 8 é válido!
SOMA antes 12
SOMA depois 20
----------
O valor 10 é válido!
SOMA antes 20
SOMA depois 30
----------
O valor 12 é válido!
SOMA antes 30
SOMA depois 42
----------
O valor 14 é válido!
SOMA antes 42
SOMA depois 56
----------
O valor 16 é válido!
SOMA antes 56
SOMA depois 72
----------
O valor 18 é válido!
SOMA antes 72
SOMA depois 90
----------
O valor 20 é válido!
SOMA antes 90
SOMA depois 110
----------
O valor 22 é válido!
SOMA antes 110
SOMA depois 132
----------
O valor 24 é válido!
SOMA antes 132
SOMA depois 156
----------
O valor 26 é válido!
SOMA antes 156
SOMA depois 182
----------
O valor 28 é válido!
SOMA antes 182
SOMA depois 210
----------
O valor 30 é válido!
SOMA antes 210
SOMA depois 240
----------
O valor 32 é válido!
SOMA antes 240
SOMA depois 272
----------
O valor 34 é válido!
SOMA antes 272
SOMA depois 306
----------

In [ ]:
tweet

'Bom dia, ótima semana a todos ...'

In [ ]:
for x in tweet.split():
  print(x)

Bom
dia,
ótima
semana
a
todos
...

In [ ]:
ls = [1,2,3]

for i in ls:
  for j in ls:
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
## for com else
cidades = ["Brasília", "Bananal", "São Paulo", "São Luís"]

for cidade in cidades:
  print(cidade)

else:
  print("Acabaram as cidades")

Brasília
Bananal
São Paulo
São Luís
Acabaram as cidades

In [ ]:
## compreensão de lista

ls = [1,2,3,4,5]
new_ls = []

for valor in ls:
  new_ls.append(valor**3)

In [ ]:
new_ls

[1, 8, 27, 64, 125]

In [ ]:
## compreensão de lista

lista_cubo = [valor**3 for valor in ls]
lista_cubo

[1, 8, 27, 64, 125]

In [ ]:
ls = [1,2,3,4,5]
new_ls = []

for valor in ls:
  if valor % 2 == 0:
    new_ls.append(valor**3)

new_ls

[8, 64]

In [ ]:
lista_cubo_condicao = [valor ** 3 for valor in ls if valor%2==0]
lista_cubo_condicao

[8, 64]

### while

In [ ]:
i = 10

while i <= 100:
  print(f"O valor de 'i' é {i}.")
  i += 10

O valor de 'i' é 10.
O valor de 'i' é 20.
O valor de 'i' é 30.
O valor de 'i' é 40.
O valor de 'i' é 50.
O valor de 'i' é 60.
O valor de 'i' é 70.
O valor de 'i' é 80.
O valor de 'i' é 90.
O valor de 'i' é 100.

In [ ]:
i = 10

while i <= 100:
  print(f"O valor de 'i' é {i}.")
  
  if i == 60:
    print('Cheguei a 60, parando o loop.')
    break
  
  i += 10

O valor de 'i' é 10.
O valor de 'i' é 20.
O valor de 'i' é 30.
O valor de 'i' é 40.
O valor de 'i' é 50.
O valor de 'i' é 60.
Cheguei a 60, parando o loop.

In [ ]:
contador = 0
soma = 0

while contador <= 100:
  
  if soma >= 2600:
    print("iteração ",contador)
    print("soma ", soma)
    break
  else:
    soma += contador

  contador += 1

iteração  73
soma  2628

In [ ]:
clientes = 0
valor_recebido = 0

while valor_recebido < 100:
  print('Venda mais!')
  clientes += 1
  valor_recebido = clientes * 4.99
else:
  print('Meta alcançada!!')
  print('QTD DE CLIENTES',clientes)

Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Meta alcançada!!
QTD DE CLIENTES 21

In [ ]:
primeira_lista = [1,2,3,4,5]
segunda_lista = [10,20,30,40,50]

for i in primeira_lista:
  for j in segunda_lista:
    print(i,j)

1 10
1 20
1 30
1 40
1 50
2 10
2 20
2 30
2 40
2 50
3 10
3 20
3 30
3 40
3 50
4 10
4 20
4 30
4 40
4 50
5 10
5 20
5 30
5 40
5 50

In [ ]:
i = 0

ls = []

while i < 10:
  for valor in primeira_lista:
    ls.append(valor)

  i += 1
len(ls)

50

In [ ]:
[x for x in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
a = 'essa é a nossa segunda aula de python'

for idx in range(len(a.split())):
  print(a.split()[idx])

essa
é
a
nossa
segunda
aula
de
python

In [ ]:
range(len(a.split()))

range(0, 8)

In [ ]:
list(enumerate(a.split()))

[(0, 'essa'),
 (1, 'é'),
 (2, 'a'),
 (3, 'nossa'),
 (4, 'segunda'),
 (5, 'aula'),
 (6, 'de'),
 (7, 'python')]

# Funções

In [ ]:
def minha_primeira_funcao():
  print('O início de um sonho!')
  for _ in range(5):
    print('.')
  print('Deu tudo certo!')

In [ ]:
minha_primeira_funcao()

O início de um sonho!
.
.
.
.
.
Deu tudo certo!

In [ ]:
def hello_world():
  print('Hello World!')

hello_world()

Hello World!

In [ ]:
def hello_person(nome):
  print(f'Hello {nome}!')

In [ ]:
hello_person(nome = 'Maria')

Hello Maria!

In [ ]:
def calculadora(valor1,valor2,operacao):
  if operacao == 'soma':
    print(valor1+valor2)
  elif operacao == 'divisao':
    print(valor1/valor2)
  elif operacao == 'multiplicacao':
    print(valor1*valor2)
  elif operacao == 'subtracao':
    print(valor1-valor2)

In [ ]:
calculadora(valor1=15,valor2=16)

TypeError: ignored

In [ ]:
calculadora(valor1=15,valor2=16,operacao='soma')

31

In [ ]:
calculadora(15,16,'soma')

31

In [ ]:
calculadora(operacao='soma',valor1=10,valor2=8)

18

In [ ]:
calculadora(operacao='soma',10,8)

SyntaxError: ignored

In [ ]:
def calculadora(valor1, valor2, operacao='soma'):

  if operacao == 'soma':
    print(valor1+valor2)
  elif operacao == 'divisao':
    print(valor1/valor2)
  elif operacao == 'multiplicacao':
    print(valor1*valor2)
  elif operacao == 'subtracao':
    print(valor1-valor2)

In [ ]:
calculadora(100,10)

110

In [ ]:
def minha_soma(valor1,valor2):
  valor1+valor2

def minha_soma_return(valor1,valor2):
  resultado = valor1 + valor2

  return resultado

In [ ]:
x = minha_soma(10,10)
print(x)
print(type(x))

None
<class 'NoneType'>

In [ ]:
x = minha_soma_return(10,10)
print(x)
print(type(x))

20
<class 'int'>

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas

pandas.read_csv('/content/sample_data/california_housing_train.csv')

       longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936             66900.0
1        -114.47     34.40  ...         1.8200             80100.0
2        -114.56     33.69  ...         1.6509             85700.0
3        -114.57     33.64  ...         3.1917             73400.0
4        -114.57     33.57  ...         1.9250             65500.0
...          ...       ...  ...            ...                 ...
16995    -124.26     40.58  ...         2.3571            111400.0
16996    -124.27     40.69  ...         2.5179             79000.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[17000 rows x 9 columns]

In [ ]:
import pandas as pd

pd.read_csv('/content/sample_data/california_housing_train.csv')

       longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936             66900.0
1        -114.47     34.40  ...         1.8200             80100.0
2        -114.56     33.69  ...         1.6509             85700.0
3        -114.57     33.64  ...         3.1917             73400.0
4        -114.57     33.57  ...         1.9250             65500.0
...          ...       ...  ...            ...                 ...
16995    -124.26     40.58  ...         2.3571            111400.0
16996    -124.27     40.69  ...         2.5179             79000.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[17000 rows x 9 columns]

In [ ]:
from pandas import read_csv

read_csv('/content/sample_data/california_housing_train.csv')

       longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936             66900.0
1        -114.47     34.40  ...         1.8200             80100.0
2        -114.56     33.69  ...         1.6509             85700.0
3        -114.57     33.64  ...         3.1917             73400.0
4        -114.57     33.57  ...         1.9250             65500.0
...          ...       ...  ...            ...                 ...
16995    -124.26     40.58  ...         2.3571            111400.0
16996    -124.27     40.69  ...         2.5179             79000.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[17000 rows x 9 columns]

In [ ]:
from minhaBib import hread

In [ ]:
hread.minha_soma(13,15)

usando a soma de minhaBib

28